<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tickets</title>
    <link rel="stylesheet"
          type="text/css"
          href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css" />
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous" />
</head>
<body>
<div class="container">

    <!-- Image and text -->
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <div class="font-weight-bold">
                <img src="\images\airline.png" width="32" height="32" class="d-inline-block align-top " alt="">
                Ticket Reservation System</div>
        </a>
        <ul class="navbar-nav ml-auto">
            <div sec:authorize="isAuthenticated()">
                <span sec:authentication="principal.username"></span></div>
            <li><a th:href="@{/Logout}">&nbsp;Log out</a>
            </li>
        </ul>
    </nav>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Ticket ID</th>
            <th>Capacity</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="ticket : ${listTickets}">
            <td th:text="${ticket.Id}"></td>
            <td th:text="${ticket.capacity}"></td>

        </tbody>
    </table>
</div>
</body>
</html>